[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"
"discord.py" = "*"
pytz = "*"
jaconv = "*"

[requires]
python_version = "3"

[scripts]
py = "python"
start = "python main.py"
pyver = "python --version"
pip = "pip"
list = "pip list"
testpy = "python test.py"
start3 = "python3 main.py"

[dev-packages]
autopep8 = "*"
pycodestyle = "*"
