[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"
"discord.py" = "*"
pytz = "*"

[requires]
python_version = "3.8.8"

[scripts]
py = "python"
start = "python main.py"
pyver = "python --version"
pip = "pip"
list = "pip list"
testpy = "python test.py"
